  <nav>
    <div class="nav-wrapper">
    <a href="#" class="brand-logo">Facebook event tracker</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><img src="img/facebook.png"></li>
        

      </ul>
    </div>
  </nav>